MONGO_URI=
JWT_SECRET=

AUTH_SECRET="TtVSW2Aw7iy9P9jIpljyO3i45T2SMJzo+D1zF+PZHbc="
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=#
EMAIL_USER=
EMAIL_PASS=

NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=